In [1]:
import pandas as pd

from data_processing import preprocess_dataframe, melt_total_dataframe

In [2]:
df = pd.read_csv("Subnational_total_final_energy_consumption_statistics.csv")

In [3]:
dff = preprocess_dataframe(df)
melt_total_dataframe(dff)
# dff

      Year                      Name Energy type          GWh
0     2005             East Midlands        Coal  3209.058446
1     2005           East Of England        Coal  2476.904968
2     2005            Greater London        Coal    63.758627
3     2005              Inner London        Coal    16.541909
4     2005                North East        Coal  2428.919016
...    ...                       ...         ...          ...
1171  2018                South East   Bioenergy  6406.355547
1172  2018                South West   Bioenergy  3608.251409
1173  2018                     Wales   Bioenergy  4940.211202
1174  2018             West Midlands   Bioenergy  3058.081379
1175  2018  Yorkshire And The Humber   Bioenergy  2179.553448

[1176 rows x 4 columns]