## Importing the libraries

In [51]:
import pandas as pd 
import matplotlib.pyplot as plt 
import plotly.express as px

## Importing the dataset

In [52]:
df = pd.read_csv("Subnational_total_final_energy_consumption_statistics.csv")
df

,LAUA,NAME,Coal_Industrial,Coal_Commercial,Coal_Domestic,Coal_Rail,Coal_Public,Coal_Agriculture,Total_COAL,Manufactured_Industrial,...,Electricity_Total,Bioenergy_Commercial,Bioenergy_Domestic,Bioenergy_All,ALL_FUELS_TOTAL,SECTOR_INDUSTRIAL,SECTOR_DOMESTIC,SECTOR_TRANSPORT,UNIT,YEAR
0,DUKES,UK Energy Consumption as in DUKES (7),17114.708000,48.380800,5510.061400,33.959600,308.311300,70.012600,23085.433700,18980.508900,...,344615.275400,4717.709500,3696.014000,8413.723500,1.793459e+06,736327.747700,555372.972400,501758.556100,GWh,2005
1,E06000001,Hartlepool,0.012138,0.006589,2.151979,0.000000,0.016881,0.006931,2.194518,270.446960,...,549.319790,0.000000,5.720947,5.720947,3.040881e+03,1606.705001,884.505859,549.670349,GWh,2005
2,E06000002,Middlesbrough,0.000000,0.000000,2.484705,0.000000,0.000000,0.000000,2.484705,2.495918,...,797.818000,0.000000,9.180602,9.180602,3.505166e+03,1080.430820,1301.839278,1122.895561,GWh,2005
3,E06000003,Redcar and Cleveland,2199.934728,0.044696,7.535284,0.000000,0.529723,0.040675,2208.085106,6263.301108,...,1263.692540,374.079009,9.740853,383.819862,2.020894e+04,18112.536497,1350.666837,745.741528,GWh,2005
4,E06000004,Stockton-on-Tees,48.104522,0.025729,3.942552,0.000000,0.850506,0.016963,52.940272,4.654302,...,1297.500950,0.000000,10.769233,10.769233,8.685977e+03,5554.653188,1788.815034,1342.509096,GWh,2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11333,W06000022,Newport,0.151298,0.003931,0.799054,0.000000,0.021954,0.000000,0.976238,3.489335,...,70.158910,0.000000,6.442499,6.442499,3.876288e+02,156.319902,94.238005,137.070926,KTOE,2018
11334,W06000023,Powys,1.852987,0.053599,5.330306,0.232249,0.135151,0.000000,7.604292,0.518954,...,50.531976,0.000000,11.876122,11.876122,3.092876e+02,100.593291,109.373829,99.320528,KTOE,2018
11335,W06000024,Merthyr Tydfil,0.017497,0.003052,0.724337,0.012224,0.025263,0.000000,0.782372,0.000000,...,17.837610,0.000000,2.877484,2.877484,1.037446e+02,33.301148,42.959519,27.483899,KTOE,2018
11336,W92000004,WALES,141.290992,0.647730,49.290150,1.878140,1.752591,0.000000,194.859603,626.371421,...,1269.236490,244.295556,180.486146,424.781703,7.805385e+03,3735.352378,2159.590070,1910.442425,KTOE,2018
11337,W92000004,Wales,141.290992,0.647730,49.290150,1.878140,1.752591,0.000000,194.859603,626.371421,...,1269.236490,244.295556,180.486146,424.781703,7.805385e+03,3735.352378,2159.590070,1910.442425,KTOE,2018

# Preprocessing the dataset

## Filtering rows with GWh units

In [53]:
# Filter DataFrame based on values of the UNIT column
df = df[df["UNIT"] == "GWh"]
df

,LAUA,NAME,Coal_Industrial,Coal_Commercial,Coal_Domestic,Coal_Rail,Coal_Public,Coal_Agriculture,Total_COAL,Manufactured_Industrial,...,Electricity_Total,Bioenergy_Commercial,Bioenergy_Domestic,Bioenergy_All,ALL_FUELS_TOTAL,SECTOR_INDUSTRIAL,SECTOR_DOMESTIC,SECTOR_TRANSPORT,UNIT,YEAR
0,DUKES,UK Energy Consumption as in DUKES (7),17114.708000,48.380800,5510.061400,33.959600,308.311300,70.012600,23085.433700,18980.508900,...,344615.275400,4717.709500,3696.014000,8413.723500,1.793459e+06,736327.747700,555372.972400,501758.556100,GWh,2005
1,E06000001,Hartlepool,0.012138,0.006589,2.151979,0.000000,0.016881,0.006931,2.194518,270.446960,...,549.319790,0.000000,5.720947,5.720947,3.040881e+03,1606.705001,884.505859,549.670349,GWh,2005
2,E06000002,Middlesbrough,0.000000,0.000000,2.484705,0.000000,0.000000,0.000000,2.484705,2.495918,...,797.818000,0.000000,9.180602,9.180602,3.505166e+03,1080.430820,1301.839278,1122.895561,GWh,2005
3,E06000003,Redcar and Cleveland,2199.934728,0.044696,7.535284,0.000000,0.529723,0.040675,2208.085106,6263.301108,...,1263.692540,374.079009,9.740853,383.819862,2.020894e+04,18112.536497,1350.666837,745.741528,GWh,2005
4,E06000004,Stockton-on-Tees,48.104522,0.025729,3.942552,0.000000,0.850506,0.016963,52.940272,4.654302,...,1297.500950,0.000000,10.769233,10.769233,8.685977e+03,5554.653188,1788.815034,1342.509096,GWh,2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10928,W06000022,Newport,1.759601,0.045723,9.293003,0.000000,0.255327,0.000000,11.353654,40.580965,...,815.948122,0.000000,74.926265,74.926265,4.508123e+03,1818.000457,1095.987996,1594.134868,GWh,2018
10929,W06000023,Powys,21.550236,0.623359,61.991460,2.701054,1.571809,0.000000,88.437919,6.035437,...,587.686885,0.000000,138.119303,138.119303,3.597015e+03,1169.899978,1272.017626,1155.097737,GWh,2018
10930,W06000024,Merthyr Tydfil,0.203490,0.035492,8.424039,0.142161,0.293807,0.000000,9.098988,0.000000,...,207.451402,0.000000,33.465139,33.465139,1.206549e+03,387.292355,499.619202,319.637742,GWh,2018
10931,W92000004,WALES,1643.214237,7.533099,573.244445,21.842763,20.382635,0.000000,2266.217179,7284.699625,...,14761.220380,2841.157319,2099.053884,4940.211202,9.077663e+04,43442.148156,25116.032508,22218.445409,GWh,2018
10932,W92000004,Wales,1643.214237,7.533099,573.244445,21.842763,20.382635,0.000000,2266.217179,7284.699625,...,14761.220380,2841.157319,2099.053884,4940.211202,9.077663e+04,43442.148156,25116.032508,22218.445409,GWh,2018

## Filtering only regions

In [54]:
# Filter by values in all caps
regions_df = df[df["NAME"].str.isupper()]
regions_df

,LAUA,NAME,Coal_Industrial,Coal_Commercial,Coal_Domestic,Coal_Rail,Coal_Public,Coal_Agriculture,Total_COAL,Manufactured_Industrial,...,Electricity_Total,Bioenergy_Commercial,Bioenergy_Domestic,Bioenergy_All,ALL_FUELS_TOTAL,SECTOR_INDUSTRIAL,SECTOR_DOMESTIC,SECTOR_TRANSPORT,UNIT,YEAR
318,E12000001,NORTH EAST,2297.649215,1.112043,115.963095,0.273365,12.402643,1.518656,2428.919016,6971.126899,...,13897.094050,1049.681933,119.826455,1169.508388,89449.750440,46257.965790,26089.541108,17102.243542,GWh,2005
319,E12000002,NORTH WEST,1395.225058,3.511898,522.212327,1.231079,134.443877,4.148214,2060.772454,3556.016236,...,36292.229100,678.012751,969.454551,1647.467301,205412.467820,83525.853676,70198.185838,51688.428303,GWh,2005
320,E12000003,YORKSHIRE AND THE HUMBER,682.472321,4.465117,433.942483,5.615965,82.030040,4.234396,1212.760322,14682.952014,...,26835.771430,270.045106,558.781593,828.826700,177096.818960,85571.930854,51854.576698,39670.311409,GWh,2005
321,E12000004,EAST MIDLANDS,2625.540229,3.918048,451.609119,1.458153,121.017427,5.515470,3209.058446,1617.183571,...,23938.354640,1116.451460,457.318067,1573.769528,129818.692630,49034.419177,43105.719933,37678.553520,GWh,2005
322,E12000005,WEST MIDLANDS,2162.815358,3.594876,388.935899,1.399769,132.410693,6.698387,2695.854982,733.178770,...,27254.021120,491.276359,614.293218,1105.569577,148797.902080,52276.686340,51482.331182,45038.884558,GWh,2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10855,E13000001,INNER LONDON,0.000000,0.000000,10.168614,0.000000,0.000000,0.000000,10.168614,17.354325,...,20683.912542,42.057930,373.484958,415.542888,57619.688287,28851.431876,19650.587625,9117.668789,GWh,2018
10856,E13000002,OUTER LONDON,0.549547,0.034612,28.657310,0.040617,0.020040,0.000000,29.302126,7.133971,...,17116.078249,105.715035,1027.663065,1133.378100,72856.979311,19443.902126,35516.244961,17896.832223,GWh,2018
10871,N92000002,NORTHERN IRELAND,1707.474267,8.074550,457.953554,0.067956,31.147020,0.000000,2204.717346,22.573370,...,7606.524875,270.035218,1809.740781,2079.775998,47923.109818,18156.994215,15515.064510,14251.051093,GWh,2018
10905,S92000003,SCOTLAND,873.762153,10.243564,505.146880,4.246857,20.367114,0.000000,1413.766568,827.101548,...,24195.474920,3494.854044,1579.253651,5074.107695,147403.156840,65048.448738,43561.946758,38792.761341,GWh,2018
10931,W92000004,WALES,1643.214237,7.533099,573.244445,21.842763,20.382635,0.000000,2266.217179,7284.699625,...,14761.220380,2841.157319,2099.053884,4940.211202,90776.626068,43442.148156,25116.032508,22218.445409,GWh,2018

## Making the dataset easier to look at

It's not required but we're going to drop the LAUA column, reorder the columns, title the region and column names, and reset the index to make our dataset a little easier to look at

In [55]:
# Reorder the columns 
descriptive_columns = ["YEAR", "NAME", "UNIT"]
other_columns = [col for col in regions_df.columns if col not in descriptive_columns]
all_columns = descriptive_columns + other_columns
regions_df = regions_df[all_columns]

# Drop the LAUA column
regions_df = regions_df.drop(columns=["LAUA"])

# Title the columns 
regions_df = regions_df.rename(columns={col: col.title() for col in descriptive_columns})

# Title the names
regions_df["Name"] = regions_df["Name"].str.title()

# Reset the index 
regions_df = regions_df.reset_index(drop=True)

regions_df

,Year,Name,Unit,Coal_Industrial,Coal_Commercial,Coal_Domestic,Coal_Rail,Coal_Public,Coal_Agriculture,Total_COAL,...,Electricity_Commercial,Electricity_Domestic,Electricity_Total,Bioenergy_Commercial,Bioenergy_Domestic,Bioenergy_All,ALL_FUELS_TOTAL,SECTOR_INDUSTRIAL,SECTOR_DOMESTIC,SECTOR_TRANSPORT
0,2005,North East,GWh,2297.649215,1.112043,115.963095,0.273365,12.402643,1.518656,2428.919016,...,9348.810390,4548.283660,13897.094050,1049.681933,119.826455,1169.508388,89449.750440,46257.965790,26089.541108,17102.243542
1,2005,North West,GWh,1395.225058,3.511898,522.212327,1.231079,134.443877,4.148214,2060.772454,...,23114.857600,13177.371500,36292.229100,678.012751,969.454551,1647.467301,205412.467820,83525.853676,70198.185838,51688.428303
2,2005,Yorkshire And The Humber,GWh,682.472321,4.465117,433.942483,5.615965,82.030040,4.234396,1212.760322,...,17032.169890,9803.601540,26835.771430,270.045106,558.781593,828.826700,177096.818960,85571.930854,51854.576698,39670.311409
3,2005,East Midlands,GWh,2625.540229,3.918048,451.609119,1.458153,121.017427,5.515470,3209.058446,...,15294.368770,8643.985870,23938.354640,1116.451460,457.318067,1573.769528,129818.692630,49034.419177,43105.719933,37678.553520
4,2005,West Midlands,GWh,2162.815358,3.594876,388.935899,1.399769,132.410693,6.698387,2695.854982,...,16938.804250,10315.216870,27254.021120,491.276359,614.293218,1105.569577,148797.902080,52276.686340,51482.331182,45038.884558
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,2018,Inner London,GWh,0.000000,0.000000,10.168614,0.000000,0.000000,0.000000,10.168614,...,15628.970815,5054.941727,20683.912542,42.057930,373.484958,415.542888,57619.688287,28851.431876,19650.587625,9117.668789
192,2018,Outer London,GWh,0.549547,0.034612,28.657310,0.040617,0.020040,0.000000,29.302126,...,9617.541238,7498.537010,17116.078249,105.715035,1027.663065,1133.378100,72856.979311,19443.902126,35516.244961,17896.832223
193,2018,Northern Ireland,GWh,1707.474267,8.074550,457.953554,0.067956,31.147020,0.000000,2204.717346,...,4707.850676,2898.674199,7606.524875,270.035218,1809.740781,2079.775998,47923.109818,18156.994215,15515.064510,14251.051093
194,2018,Scotland,GWh,873.762153,10.243564,505.146880,4.246857,20.367114,0.000000,1413.766568,...,14509.382710,9686.092212,24195.474920,3494.854044,1579.253651,5074.107695,147403.156840,65048.448738,43561.946758,38792.761341
195,2018,Wales,GWh,1643.214237,7.533099,573.244445,21.842763,20.382635,0.000000,2266.217179,...,9897.825590,4863.394793,14761.220380,2841.157319,2099.053884,4940.211202,90776.626068,43442.148156,25116.032508,22218.445409

Index(['Year', 'Name', 'Unit', 'Coal_Industrial', 'Coal_Commercial',
       'Coal_Domestic', 'Coal_Rail', 'Coal_Public', 'Coal_Agriculture',
       'Total_COAL', 'Manufactured_Industrial', 'Manufactured_Domestic',
       'Total_MANUFACTURED', 'Petroleum_Industrial', 'Petroleum_Commercial',
       'Petroleum_Domestic', 'Petroleum_Road', 'Petroleum_Rail',
       'Petroleum_Public', 'Petroleum_Agriculture', 'Total_PETROLEUM',
       'Gas_Commercial', 'Gas_Domestic', 'Gas_Total', 'Electricity_Commercial',
       'Electricity_Domestic', 'Electricity_Total', 'Bioenergy_Commercial',
       'Bioenergy_Domestic', 'Bioenergy_All', 'ALL_FUELS_TOTAL',
       'SECTOR_INDUSTRIAL', 'SECTOR_DOMESTIC', 'SECTOR_TRANSPORT'],
      dtype='object')