# Processing LAUA GeoJSON

The goal of this notebook is to get a GeoJSON file that contains polygonal data for mapping the UK down to the Local Administrative Unit level. Data was obtained from the [ONS](https://geoportal.statistics.gov.uk/datasets/local-administrative-units-level-1-january-2018-ultra-generalised-clipped-boundaries-in-united-kingdom?geometry=-54.972%2C52.104%2C56.781%2C60.585&selectedAttribute=bng_n)

In [1]:
import json

import pandas as pd 
import geopandas as gpd
import plotly
import plotly.express as px

In [2]:
shapefile_fpath = r'Local_Administrative_Units_Level_1__January_2018__Boundaries-shp\Local_Administrative_Units_Level_1__January_2018__Boundaries.shp'
dataset_fpath = r"Subnational_total_final_energy_consumption_statistics.csv"

gdf = gpd.read_file(shapefile_fpath)
df = pd.read_csv(dataset_fpath)

# Preprocessing the dataset 

Before matching our dataset to our shapefile data, we're just going to get rid of some rows we don't need

In [3]:
df = df[~df["LAUA"].isin(["DUKES", "Unallocated"])]
df = df[df["UNIT"] == "GWh"]

In [4]:
gdf

,objectid,lau118cd,lau118nm,bng_e,bng_n,long,lat,st_areasha,st_lengths,geometry
0,1,E06000001,Hartlepool,447157,531476,-1.27023,54.676159,9.626308e+07,50941.998211,"POLYGON ((448906.504 536702.994, 448926.003 53..."
1,2,E06000002,Middlesbrough,451141,516887,-1.21099,54.544670,5.523098e+07,35500.308848,"POLYGON ((451894.306 521145.310, 453997.697 51..."
2,3,E06000003,Redcar and Cleveland,464359,519597,-1.00611,54.567520,2.475390e+08,78163.814712,"POLYGON ((478368.200 518993.999, 477689.303 51..."
3,4,E06000004,Stockton-on-Tees,444937,518183,-1.30669,54.556911,2.051922e+08,87661.002114,"POLYGON ((452185.277 526288.454, 451708.002 52..."
4,5,E06000005,Darlington,428029,515649,-1.56835,54.535351,1.988128e+08,91926.842748,"POLYGON ((436388.002 522354.197, 437351.702 52..."
...,...,...,...,...,...,...,...,...,...,...
395,396,W06000020,Torfaen,327459,200480,-3.05101,51.698360,1.257167e+08,68469.967317,"POLYGON ((333723.000 192653.903, 331617.797 19..."
396,397,W06000021,Monmouthshire,337812,209231,-2.90280,51.778271,8.545377e+08,181587.902235,"POLYGON ((355272.704 214366.797, 354547.699 21..."
397,398,W06000022,Newport,337897,187433,-2.89769,51.582321,1.934646e+08,81996.305299,"POLYGON ((343091.792 184213.400, 339999.991 18..."
398,399,W06000023,Powys,302328,273254,-3.43533,52.348629,5.199755e+09,504309.889208,"POLYGON ((322891.603 333139.299, 323688.497 33..."
399,400,W06000024,Merthyr Tydfil,305916,206424,-3.36425,51.748581,1.134292e+08,59195.326092,"POLYGON ((308057.304 211036.201, 308367.104 20..."

In [5]:
df

,LAUA,NAME,Coal_Industrial,Coal_Commercial,Coal_Domestic,Coal_Rail,Coal_Public,Coal_Agriculture,Total_COAL,Manufactured_Industrial,...,Electricity_Total,Bioenergy_Commercial,Bioenergy_Domestic,Bioenergy_All,ALL_FUELS_TOTAL,SECTOR_INDUSTRIAL,SECTOR_DOMESTIC,SECTOR_TRANSPORT,UNIT,YEAR
1,E06000001,Hartlepool,0.012138,0.006589,2.151979,0.000000,0.016881,0.006931,2.194518,270.446960,...,549.319790,0.000000,5.720947,5.720947,3040.881209,1606.705001,884.505859,549.670349,GWh,2005
2,E06000002,Middlesbrough,0.000000,0.000000,2.484705,0.000000,0.000000,0.000000,2.484705,2.495918,...,797.818000,0.000000,9.180602,9.180602,3505.165660,1080.430820,1301.839278,1122.895561,GWh,2005
3,E06000003,Redcar and Cleveland,2199.934728,0.044696,7.535284,0.000000,0.529723,0.040675,2208.085106,6263.301108,...,1263.692540,374.079009,9.740853,383.819862,20208.944862,18112.536497,1350.666837,745.741528,GWh,2005
4,E06000004,Stockton-on-Tees,48.104522,0.025729,3.942552,0.000000,0.850506,0.016963,52.940272,4.654302,...,1297.500950,0.000000,10.769233,10.769233,8685.977318,5554.653188,1788.815034,1342.509096,GWh,2005
5,E06000005,Darlington,0.559835,0.029317,3.323750,0.000000,0.499435,0.046877,4.459214,2.847366,...,510.440700,0.000000,7.446304,7.446304,3005.678162,1223.728051,1060.431011,721.519100,GWh,2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10928,W06000022,Newport,1.759601,0.045723,9.293003,0.000000,0.255327,0.000000,11.353654,40.580965,...,815.948122,0.000000,74.926265,74.926265,4508.123321,1818.000457,1095.987996,1594.134868,GWh,2018
10929,W06000023,Powys,21.550236,0.623359,61.991460,2.701054,1.571809,0.000000,88.437919,6.035437,...,587.686885,0.000000,138.119303,138.119303,3597.015341,1169.899978,1272.017626,1155.097737,GWh,2018
10930,W06000024,Merthyr Tydfil,0.203490,0.035492,8.424039,0.142161,0.293807,0.000000,9.098988,0.000000,...,207.451402,0.000000,33.465139,33.465139,1206.549300,387.292355,499.619202,319.637742,GWh,2018
10931,W92000004,WALES,1643.214237,7.533099,573.244445,21.842763,20.382635,0.000000,2266.217179,7284.699625,...,14761.220380,2841.157319,2099.053884,4940.211202,90776.626068,43442.148156,25116.032508,22218.445409,GWh,2018
10932,W92000004,Wales,1643.214237,7.533099,573.244445,21.842763,20.382635,0.000000,2266.217179,7284.699625,...,14761.220380,2841.157319,2099.053884,4940.211202,90776.626068,43442.148156,25116.032508,22218.445409,GWh,2018

# Matching the shapefile to our dataset

We're going to match our rows based on the `"lau118cd"` column of `gdf` and `"LAUA"` of `df`. 

A quick comparison shows that most match but for some reason, all of Scotland's are mismatched and a couple in England are mismatched so we'll have to match those based on name. The Shapefile data is for 2018 so we're going to work with just the 2018 rows from `df` but I verified that the LAUA for all other years match. The only difference between the two datasets are the aforementioned Scottish and occasional English LAUA values. 

In this case, I am going to coerce the `gdf` LAUA values to match the `df` based on the LAU name since `df` is primarily what we are going to be dealing with across the board.

In [6]:
df_2018 = df[df["YEAR"] == 2018]
df_laua = df_2018["LAUA"].unique()

matched_gdf = gdf[gdf["lau118cd"].isin(df_laua)]
unmatched_gdf = gdf[~gdf["lau118cd"].isin(df_laua)]

df_2018["NAME"] = df_2018["NAME"].str.title()
unmatched_gdf["lau118nm"] = gdf["lau118nm"].str.title()

merged_df = pd.merge(df_2018, unmatched_gdf, left_on=["NAME"], right_on=["lau118nm"])
matched_laua_df = merged_df[list(unmatched_gdf.columns) + ["LAUA"]]
matched_laua_df = matched_laua_df.drop(columns=["lau118cd"])
matched_laua_df = matched_laua_df.rename(columns={"LAUA": "lau118cd"}) 
fixed_gdf = pd.concat([matched_gdf, matched_laua_df])

<ipython-input-6-89e3f8d8567b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2018["NAME"] = df_2018["NAME"].str.title()
<ipython-input-6-89e3f8d8567b>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unmatched_gdf["lau118nm"] = gdf["lau118nm"].str.title()

# Final touches of preparation 

We only have a couple points left that haven't been matched. This is because the energy dataset combines some places whereas the location dataset has them listed as separate. We have to now group these regions and do some wrangling to match them to the energy dataset. 

There is also some NUTS level 1 regional data and other stuff that we're going to filter out as that isn't relevant to what we're trying to accomplish at the moment.

In [7]:
unmatched_df = df[~df["LAUA"].isin(fixed_gdf["lau118cd"].unique())]
unmatched_df = unmatched_df[unmatched_df["YEAR"] == 2018]

unmatched_df = unmatched_df[~unmatched_df["LAUA"].str.startswith("K")]
regions_df = unmatched_df[unmatched_df["NAME"].str.isupper()]
unmatched_df = unmatched_df[~unmatched_df["NAME"].str.lower().isin(regions_df["NAME"].str.lower().unique())]
unmatched_df = unmatched_df[~unmatched_df.isin(["England", "Northern Ireland (4) (6)"])]
unmatched_df

,LAUA,NAME,Coal_Industrial,Coal_Commercial,Coal_Domestic,Coal_Rail,Coal_Public,Coal_Agriculture,Total_COAL,Manufactured_Industrial,...,Electricity_Total,Bioenergy_Commercial,Bioenergy_Domestic,Bioenergy_All,ALL_FUELS_TOTAL,SECTOR_INDUSTRIAL,SECTOR_DOMESTIC,SECTOR_TRANSPORT,UNIT,YEAR
10583,E06000058,"Bournemouth, Christchurch and Poole",9.794350,0.339205,13.109295,0.000000,1.680036,0.0,24.922885,1.774583,...,1498.412097,26.526567,170.741392,197.267959,6.475112e+03,1764.054160,2816.979338,1894.078239,GWh,2018
10584,E06000059,Dorset,48.483249,1.272789,37.736532,1.716083,3.235203,0.0,92.443856,4.477690,...,1603.543799,0.000000,235.185603,235.185603,7.327744e+03,2047.408399,2956.704016,2323.631884,GWh,2018
10774,E07000244,East Suffolk,121.317347,1.662518,23.859845,0.000000,1.909165,0.0,148.748875,0.046852,...,1103.551517,0.000000,130.855209,130.855209,4.832138e+03,1437.629241,1916.347695,1478.160771,GWh,2018
10775,E07000245,West Suffolk,165.514195,0.571577,12.067912,0.000000,1.361489,0.0,179.515173,33.688988,...,903.271997,0.000000,64.291579,64.291579,6.211693e+03,3379.255349,1238.332019,1594.105393,GWh,2018
10776,E07000246,Somerset West and Taunton,28.185510,0.480552,18.750387,8.988933,0.608948,0.0,57.014330,0.046852,...,587.371644,0.000000,100.841369,100.841369,3.392926e+03,833.199586,1110.506911,1449.219798,GWh,2018
10857,E92000001,NaN,8471.763493,66.983798,3020.357823,99.063873,159.267783,0.0,11817.436771,13933.155912,...,233298.009450,9662.060579,20550.232899,30212.293478,1.196439e+06,421284.277170,406119.774370,369035.253320,GWh,2018
10872,N92000002,NaN,1707.474267,8.074550,457.953554,0.067956,31.147020,0.0,2204.717346,22.573370,...,7606.524875,270.035218,1809.740781,2079.775998,4.792311e+04,18156.994215,15515.064510,14251.051093,GWh,2018
10880,S12000017,Highland,39.122732,2.532838,113.295027,2.904141,4.084791,0.0,161.939529,0.749637,...,1558.439405,989.583991,136.377284,1125.961275,7.654707e+03,3332.212744,2149.874372,2172.619411,GWh,2018
10883,S12000020,Moray,41.857397,0.216036,17.659356,0.893582,0.488810,0.0,61.115181,0.000000,...,485.632302,9.818251,38.956539,48.774789,3.458814e+03,2043.760748,830.137381,584.915379,GWh,2018
10884,S12000021,North Ayrshire,1.801191,0.190555,4.827102,0.000000,0.132959,0.0,6.951807,0.375207,...,656.387438,1352.011471,38.682794,1390.694265,5.041710e+03,3373.133165,1084.874423,583.702760,GWh,2018
10893,S12000035,Argyll and Bute,13.704039,0.830478,30.902656,0.000000,1.304913,0.0,46.742084,0.093705,...,505.862207,0.000000,55.899350,55.899350,2.303833e+03,785.579216,817.775399,700.478477,GWh,2018

In [8]:
fixed_gdf = fixed_gdf.to_crs(epsg=4326)
fixed_gdf.to_file("laua.geojson", driver="GeoJSON")

In [48]:
with open("laua.geojson") as infile:
    geojson = json.load(infile)
    
def update_choropleth(year_value):
    year_df = df[df["YEAR"] == year_value]
    year_df = year_df.rename(columns={"ALL_FUELS_TOTAL": "Total (GWh)"})
    fig = px.choropleth_mapbox(year_df, geojson=geojson, locations="LAUA", color="Total (GWh)", featureidkey="properties.lau118cd",
                               range_color=(0, 15000), color_continuous_scale=plotly.colors.diverging.Temps, title=f"Energy consumption in the UK ({year_value})",
                              width=450
                              )
    fig.update_layout(mapbox_style="carto-positron",
                  mapbox_zoom=4, mapbox_center={"lat": 54, "lon": -3})
    return fig

for year in range(2005, 2019):
    fig = update_choropleth(year)    
    fig.write_image(f"choropleth/{year}.jpeg")
# fig = update_choropleth(2005)
# fig.show()

,LAUA,NAME,Coal_Industrial,Coal_Commercial,Coal_Domestic,Coal_Rail,Coal_Public,Coal_Agriculture,Total_COAL,Manufactured_Industrial,...,Electricity_Total,Bioenergy_Commercial,Bioenergy_Domestic,Bioenergy_All,ALL_FUELS_TOTAL,SECTOR_INDUSTRIAL,SECTOR_DOMESTIC,SECTOR_TRANSPORT,UNIT,YEAR
401,W06000023,Powys,17.056808,0.399089,74.479363,0.721049,7.730452,1.334223,101.720984,9.666255,...,662.595990,0.000000,48.036807,48.036807,3988.164034,1346.484401,1441.722886,1199.956747,GWh,2005
1211,W06000023,Powys,18.907324,0.565836,67.077752,3.388929,7.040001,0.740753,97.720596,12.972388,...,666.364110,0.000000,50.172486,50.172486,4008.103839,1307.078464,1450.536118,1250.500886,GWh,2006
2021,W06000023,Powys,12.366642,0.411254,76.856746,3.388929,7.867679,0.592602,101.483853,11.484916,...,635.963290,0.000000,50.867333,50.867333,3880.254365,1244.462137,1367.394620,1268.385978,GWh,2007
2831,W06000023,Powys,20.631699,0.736702,81.317133,3.388929,7.315351,0.740328,114.130142,26.756824,...,608.458340,2.377986,60.366971,62.744957,3841.096139,1184.467363,1392.806856,1263.821920,GWh,2008
3641,W06000023,Powys,26.391227,2.634996,81.413223,3.380637,8.171096,0.000000,121.991181,21.917070,...,602.576904,1.792007,65.764824,67.556831,3753.563194,1147.814079,1355.714516,1250.034598,GWh,2009
4451,W06000023,Powys,29.702341,0.485475,84.987825,3.413186,8.181442,0.222684,126.992953,17.135970,...,626.045438,2.030706,84.788920,86.819627,3882.839642,1193.020205,1453.276728,1236.542709,GWh,2010
5261,W06000023,Powys,30.575409,0.740916,83.946203,2.775937,8.515233,0.232210,126.785908,16.185864,...,606.721254,1.665141,73.662397,75.327539,3642.553136,1155.968708,1269.325639,1217.258789,GWh,2011
6071,W06000023,Powys,37.417344,0.646937,80.179587,2.911093,8.081199,0.237788,129.473949,14.355187,...,581.393126,4.929739,93.680800,98.610539,3618.640586,1129.412446,1297.252801,1191.975337,GWh,2012
6881,W06000023,Powys,51.003263,0.643589,76.874192,2.477411,8.861043,0.000000,139.859498,15.569988,...,599.211535,5.954813,110.285632,116.240445,3558.935422,1145.653645,1319.896106,1093.385671,GWh,2013
7690,W06000023,Powys,46.946616,0.604726,65.661184,2.349113,8.714761,0.000000,124.276400,14.425953,...,595.550288,5.218282,104.758423,109.976705,3536.052269,1165.835389,1252.416695,1117.800185,GWh,2014
8499,W06000023,Powys,34.255582,0.602028,66.104411,2.349113,1.122047,0.000000,104.433181,10.721684,...,591.031801,4.307143,118.344934,122.652076,3550.229664,1182.079134,1252.683038,1115.467492,GWh,2015
9309,W06000023,Powys,34.299841,0.625631,65.736696,2.710515,1.152207,0.000000,104.524890,5.401379,...,578.970263,5.114721,127.169746,132.284467,3580.365620,1174.068171,1261.551265,1144.746185,GWh,2016
10119,W06000023,Powys,29.071717,0.623359,64.061969,2.701054,1.451061,0.000000,97.909161,6.620651,...,589.821352,2.730253,126.409146,129.139400,3632.448020,1207.950330,1268.893543,1155.604147,GWh,2017
10929,W06000023,Powys,21.550236,0.623359,61.991460,2.701054,1.571809,0.000000,88.437919,6.035437,...,587.686885,0.000000,138.119303,138.119303,3597.015341,1169.899978,1272.017626,1155.097737,GWh,2018